{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Пользователи{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='users' %}
{% endblock %}
{% block content %}
    <div class="cards-heading">
        <h1>Пользователи</h1>
        <a href="{% url "core:users_create" %}" class="btn add">
            <span class="material-symbols-outlined">
                add
            </span>
            <span>Создать пользователя</span>
        </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Email</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
           <th scope="col">Группа</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.email }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.groups.first }}</td>
              <td><a href="{% url "core:users_update" user.pk %}">Редактировать</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% bootstrap_pagination page_obj %}
{% endblock %}