{% extends "base.html" %}
{% load bootstrap5 %}
{% block css %}{{ form.media.css }}{% endblock %}
{% block title %}Редактирование пользователя{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='users' %}
{% endblock %}
{% block content %}
    <h1>Редактирование пользователя</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-wrapper">
            {% bootstrap_form form %}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
{% endblock %}