{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Создание Программы обучения{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='roadmap' %}
{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "index" %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url "courses:roadmap_list" %}">Программы обучения</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создание программы обучения</li>
      </ol>
    </nav>
    <h1>Создание программы обучения</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-wrapper">
            {% bootstrap_form form %}
            {{ formset }}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
{% endblock %}