.content {
    padding: 32px 32px 32px calc(280px + 32px);
}

.content__wrapper {
    background-color: white;
    padding: 24px;
    min-height: calc(100vh - 32px);
    border-radius: 6px;
}