.navbar {
    height: 60px;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 1px solid #dfe7ef;
    padding: 0 32px;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__profile {
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
    display: flex;
}

.navbar__profile img {
    width: 32px;
    height: 32px;
}

.navbar__profile:hover {
  background-color: #F5F5F5;
}