.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    background-color: #ffff;
    border-right: 1px solid #dfe7ef;
    height: 100%;
    z-index: 2;
}

.sidebar__profile-block {
    margin-top: auto;
    width: 100%;
}

.sidebar__profile-block hr {
    border-top: 1px solid #dfe7ef;
    margin: 8px 16px 16px 16px;
}

.sidebar__profile {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    font-weight: 500;
    color: #616161;
    text-decoration: none;
    border-radius: 6px;
}
.sidebar__profile:hover {
    background-color: #F5F5F5;
    color: #616161;
}

.sidebar__profile img {
    width: 28px;
    height: 28px;
    margin-right: .5rem;
}

.logo {
    display: flex;
    height: 60px;
    padding: 0 32px;
    align-items: center;
}

.logo img {
    height: 30px;
}

.menu {
    padding: 16px;
    list-style-type: none;
}

.menu__link {
    display: flex;
    padding: 16px;
    text-decoration: none;
    color: #616161;
    border-radius: 6px;
    align-items: center;
}

.menu__link:hover {
    color: #616161;
    background-color: #F5F5F5;
}

.menu__link span:first-child {
    margin-right: 10px;
}