{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Курсы{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='courses' %}
{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "index" %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active" aria-current="page">Курсы</li>
      </ol>
    </nav>
    <div class="cards-heading">
        <h1>Курсы</h1>
        {% if perms.courses.add_course %}
            <a href="{% url "courses:create" %}" class="btn add">
                <span class="material-symbols-outlined">
                    add
                </span>
                <span>Добавить</span>
            </a>
        {% endif %}
    </div>
    <div>Количество курсов: {{ paginator.count }}</div>
    <div class="row row-cols-1 row-cols-md-3 g-4 courses">
    {% for course in courses %}
      <div class="col">
        <div class="card h-100 course">
    {#      <img src="..." class="card-img-top" alt="...">#}
          <div class="card-body">
            <h5 class="card-title">
                <div class="card-title__text">
                    <span class="material-symbols-outlined">terminal</span>
                    <span>{{ course.name }}</span>
                </div>
            </h5>
            <p class="card-text">{{ course.decription }}</p>
            <p>{{ course.author.last_name }}</p>
            <p>{{ course.users.count }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ course.started_at }}</small>
            <a class="btn detail" href="{% url "courses:detail" course.pk %}" role="button">
                <span>Подробнее</span>
                <span class="material-symbols-outlined">
                    arrow_forward
                </span>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
        {% bootstrap_pagination page_obj %}
    {% endif %}
{% endblock %}