{% extends "base.html" %}
{% load bootstrap5 %}
{% block css %}{{ form.media.css }}{% endblock %}
{% block title %}Редактирование курса{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='courses' %}
{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "index" %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url "courses:list" %}">Курсы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование курса</li>
      </ol>
    </nav>
    <h1>Редактирование курса</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-wrapper">
            {% bootstrap_form form %}
        </div>
        <div>
            <a class="btn btn-primary" href="{% url 'courses:detail' course.pk %}">Назад</a>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    {{ form.media.js }}
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script>
        flatpickr.localize(flatpickr.l10ns.ru)
    </script>
{% endblock %}