{% extends "base.html" %}
{% load bootstrap5 static %}
{% block title %}Создание Программы обучения{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "index" %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url "roadmaps:list" %}">Программы обучения</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создание программы обучения</li>
      </ol>
    </nav>
    <h1>Создание программы обучения</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-wrapper">
            {% bootstrap_form form %}
            <div class="formsets">
                <div class="formset-management">
                    {{ formset.management_form }}
                </div>
                {% for formset_item in formset %}
                    <div class="formset-item">
                    {% bootstrap_form formset_item %}
                    </div>
                {% endfor %}
                <button id="addTopicButton" class="btn btn-success w-100 mb-4">Добавить тему</button>
            </div>
        <div>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static "js/formset.js" %}"></script>
{% endblock %}