{% extends "base.html" %}
{% block title %}Просмотр программы{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "index" %}">Домашняя страница</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url "roadmaps:list" %}">Программы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Просмотр програмы</li>
      </ol>
    </nav>
    <h1>{{ roadmap.name }}</h1>
    <h3>Темы</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Номер занятия</th>
          <th scope="col">Название темы</th>
          <th scope="col">Кол-во часов</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in roadmap.topics.all %}
            <tr>
                <td>{{ topic.order }}</td>
                <td>{{ topic.name }}</td>
                <td>{{ topic.hours }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}