{% extends "base.html" %}
{% block title %}Задания{% endblock %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>
<div class="container">
  <h1>Список заданий</h1>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Тема</th>
              <th scope="col">Задание</th>
              <th scope="col">Создано</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for homework in homeworks %}
                <tr>
                    <td>{{ homework.id }}</td>
                    <td>{{ homework.topic }}</td>
                    <td>{{ homework }}</td>
                    <td>{{ homework.created_at|date:"d.m.Y H:i:s" }}</td>
                    <td><a href="{{ homework.get_absolute_url }}">Подробнее</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}