{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Группы{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html' with app_name='groups' %}
{% endblock %}
{% block content %}
    <div class="cards-heading">
        <h1>Группы</h1>
        <a href="{% url "core:group_create" %}" class="btn add">
            <span class="material-symbols-outlined">
                add
            </span>
            <span>Создать группу</span>
        </a>
    </div>
    {% if groups %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Имя группы</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
                <tr>
                  <th scope="row">{{ group.id }}</th>
                  <td>{{ group.name }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% bootstrap_pagination page_obj %}
    {% endif %}
{% endblock %}