{% load static %}
<div class="sidebar">
    <a href="{% url "index" %}" class="logo">
        <img src="{% static "logo.svg" %}" alt="logo">
    </a>
    <ul class="menu">
        {% if perms.core.view_users %}
            <li class="menu__item">
                <a class="menu__link {% if app_name == 'users' %}selected{% endif %}" href="{% url "core:users_list" %}">
                    <span class="material-symbols-outlined">person</span>
                    <span>Пользователи</span>
                </a>
            </li>
        {% endif %}
        {% if perms.user_role.view_role %}
        <li class="menu__item">
            <a class="menu__link {% if app_name == 'role' %}selected{% endif %}" href="{% url "core:role_list" %}">
                <span class="material-symbols-outlined">groups</span>
                <span>Роли</span>
            </a>
        </li>
        {% endif %}
        {% if perms.courses %}
            <li class="menu__item">
                <a class="menu__link {% if app_name == 'courses' %}selected{% endif %}" href="{% url "courses:list" %}">
                    <span class="material-symbols-outlined">library_books</span>
                    <span>Курсы</span>
                </a>
            </li>
            {% if perms.courses.view_roadmap %}
            <li class="menu__item">
                <a class="menu__link {% if app_name == 'roadmap' %}selected{% endif %}" href="{% url "courses:roadmap_list" %}">
                    <span class="material-symbols-outlined">library_books</span>
                    <span>Программа обучения</span>
                </a>
            </li>
            {% endif %}
        {% endif %}
        <li class="menu__item">
            <a class="menu__link {% if app_name == 'homeworks' %}selected{% endif %}" href="{% url "homeworks:list" %}">
                <span class="material-symbols-outlined">edit_square</span>
                <span>Задания</span>
            </a>
        </li>
    </ul>
    <div class="sidebar__profile-block">
        <hr>
        <a href="{% url "core:profile" %}" class="sidebar__profile">
            <img src="{{ request.user.photo.url }}" alt="profile">
            <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
        </a>
    </div>
</div>